@import "vars";

@media only screen and (max-width: 1680px) {
    .wrap {
        max-width: 1680px;
        margin: 0 auto;
        padding: 47px 0;
    }
    //header
    .tab-content {
        left: -48%;
    }
    .tabs__item a {
        margin-right: 20px;
    }
    .tabs__item.active a:after {
        width: 100%;
    }
}
@media only screen and (max-width: 1240px) {
    .wrap {
        max-width: 1240px;
        margin: 0 auto;
    }
    .menu-wrap {
        padding-left: 20px;
        padding-right: 36px;
    }
    .main-menu a {
        padding: 20px;
    }
    //header
    .header__panel {
        flex-wrap: wrap;
    }
    .header__select {
        margin-right: 0;
        margin-bottom: 25px;
    }
    .text {
        padding: 0 20px 0 0;
    }
}
@media only screen and (max-width: 980px) {
    .wrap {
        max-width: 980px;
        margin: 0 auto;
    }
    .menu-wrap {
        padding-left: 5px;
        padding-right: 15px;
    }
    .main-menu a {
        padding: 20px 10px;
    }
    .logo {
        padding: 11px 40px;
    }
    //header
    .header {
        height: auto;
        flex-wrap: wrap;
    }
    .container-tabs {
        overflow: hidden;
        position: relative;

        width: 100%;
        order: -1;
        
        &:before {
            content: "";
            z-index: -1;
            background: url(../img/header-img-001.png);
            background-repeat: no-repeat;
            background-size: cover;
            filter: grayscale(100%); 
            position: absolute;
            top: 0;
            width: 40%;
            height: 100%;
            transform: scale(-1, 1);
        }
        &:after {
            position: absolute;
            top: 5%;
            z-index: -1;
            content: "";
            width: 50%;
            height: 90%;
            background-color: rgba(248,182,116,.5);
        }
    }
    .tab-content {
        max-width: 70%;
        margin: 80px auto;
        left: 0;
    }
    .header__cont {
        width: 100%;
        background: none;
        padding: 250px 20px;
        &:before, &:after {
            content: "";
            position: absolute;
            height: 206px;
            width: 2px;
            background: #000;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, 0) 
        }
        &:before {
            top: 0;
            bottom: auto;
        }
        &:after {
            top: auto;
            bottom: 0;
        }
    }
    .header__wrap {
        max-width: none;
        text-align: center;
    }
    .header__panel {
        justify-content: space-around;
        align-items: center;
        margin-top: 25px;
    }
    .header__select {
        margin-bottom: 0;
    }
    .btn {
        margin-top: 50px;
    }


}
@media only screen and (max-width: 720px) {
    body {
        font-size: 9px;
    }
    .wrap {
        max-width: 720px;
        margin: 0 auto;
    }
    .toggle-menu {
        display: block;
    }
    .main-menu {
        display: none;
        &.active {
            display: block;
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.95);
            z-index: 50;
            right: 0;
            top: 0;
            ul {
                flex-direction: column;
                align-items: center;
                margin-top: 40px;
                text-align: center;
            } 
            .cross {
                display: block;
                position: absolute;
                top: 20px;
                left: 20px;
                width: 34px;
                height: 34px;
                &-line {
                    display: block;
                    position: relative;
                    width: 34px;
                    height: 3px;
                    background: #000;
                    border: none;
                    border-radius: 4px 4px 4px 4px;
                }
                &--topper {
                    top: 13px;
                    transform: rotate(-45deg);
                }
                &--bottom {
                    top: 9px;
                    transform: rotate(45deg);
                }
            }
        }
    }
    .menu-wrap {
        padding-left: 25px;
        padding-right: 25px;
    }
    .cart {
        margin-left: 0;
    }
    //header
    .header__select {
        min-width: 160px;
    }
    .tabs__item a {
        font-size: 0;
        padding: 11px 17px;
    }
    .tabs__item a:after {
        width: 19px;
        background-color: #000;
    }
    .subtitle {
        font-size: 10px;
        letter-spacing: 10px;
    }
    .title {
        font-size: 25px;
        letter-spacing: 8px;
    }
    .header__panel {
        font-size: 9px;
        text-align: left;
    }

}
@media only screen and (max-width: 413px) {
    .wrap {
        max-width: 414px;
        margin: 0 auto;
    }
    
}
@media only screen and (max-width: 320px) {

}