header.wrap
	.menu-wrap
		.toggle-menu
			.span Menu

		nav.main-menu 
			.cross
				span.cross-line.cross--topper
				span.cross-line.cross--bottom

			ul
				li
					a(href="#") Activites
				li
					a(href="#") Tops
				li
					a(href="#") Bottoms
				li
					a(href="#") Accessories
				li
						a(href="#") Culture
		.logo AG
		.cart
			.cart__text Cart
			.circle-number 0
	.header
		.header__cont
			.header__wrap
				.subtitle Collection
				.title Bikini - mykonos
				p.text The same top of the line accessories you’re used to but we have formulated these specifically for your activite lifestyle.
				.header__panel
					.header__select Pick a color
					.header__number 
						.circle-number -
						.number 1
						.circle-number +
				.btn Add to cart
			.header__bottom 
				.primary-text
					a(href="#") About this item
				.primary-text
					a(href="#") Similar items

		.container-tabs
			.tab-content
				.tab-pane.active#tab-1 
					.img-wrap
						img(src="img/header-img-001.png", alt="bikini")
				.tab-pane#tab-2 
					.img-wrap
						img(src="img/header-img-001.png", alt="bikini")
				.tab-pane#tab-3 
					.img-wrap
						img(src="img/header-img-001.png", alt="bikini")
			ul.header__tabs
				li.tabs__item.active
					a.primary-text(href="#tab-1") img 001
				li.tabs__item
					a.primary-text(href="#tab-2") img 002
				li.tabs__item
					a.primary-text(href="#tab-3") img 003
			.scroll.primary-text Scroll down
				
