section
    .wrap.info
        .info__block.info__foto
            .img-wrap
                img(src="img/info1.png", alt="info")
        .info__block.info__text
            .subtitle Bikini info
            .title Mykonos
            p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate esse cillum dolore eu fugiat nulla cillum dolore eu fugiat eu.
            p.text Are you interested and want to know more? Click the link below.
            a.btn(href="#") About us
        .text90 
            span The highest quality
        .maddle-block
        .info__block.info__text
            .subtitle High quality
            .title Materials used
            ul.info__list 
                li Material Item 001
                li Material Item 002
                li Material Item 003
                li Material Item 004
                li Material Item 005
               
        .info__block.info__foto.info__foto--same
            .img-wrap
                img(src="img/info3.png", alt="info")