section.items
    .wrap
        .title.title--items.desctop Related items
        .title.title--items.mob Similar
        .slider__wrap
            .my-slider
                .my-slider-item
                    .my-slider__img
                        img(src="img/items/slide001.png", alt="bikini")
                    .my-slider__text
                        .my-slider__title BATHING SUIT 1 — $55
                        .my-slider__desc New Swimwear Collection
                        a.btn(href="#") View item
                .my-slider-item
                    .my-slider__img
                        img(src="img/items/slide002.png", alt="bikini")
                    .my-slider__text
                        .my-slider__title BATHING SUIT 1 — $55
                        .my-slider__desc New Swimwear Collection
                        a.btn(href="#") View item
                .my-slider-item
                    .my-slider__img
                        img(src="img/items/slide003.png", alt="bikini")
                    .my-slider__text
                        .my-slider__title BATHING SUIT 1 — $55
                        .my-slider__desc New Swimwear Collection
                        a.btn(href="#") View item
                .my-slider-item
                    .my-slider__img
                        img(src="img/items/slide004.png", alt="bikini")
                    .my-slider__text
                        .my-slider__title BATHING SUIT 1 — $55
                        .my-slider__desc New Swimwear Collection
                        a.btn(href="#") View item
                .my-slider-item
                    .my-slider__img
                        img(src="img/items/slide005.png", alt="bikini")
                    .my-slider__text
                        .my-slider__title BATHING SUIT 1 — $55
                        .my-slider__desc New Swimwear Collection
                        a.btn(href="#") View item
                .my-slider-item
                    .my-slider__img
                        img(src="img/items/slide006.png", alt="bikini")
                    .my-slider__text
                        .my-slider__title BATHING SUIT 1 — $55
                        .my-slider__desc New Swimwear Collection
                        a.btn(href="#") View item
        