section.items
    .wrap
        .title.title--items Related items
        .my-slider
            .my-slider-item
                img(src="img/items/slide001.png", alt="bikini")
            .my-slider-item
                img(src="img/items/slide002.png", alt="bikini")
            .my-slider-item
                img(src="img/items/slide003.png", alt="bikini")
            .my-slider-item
                img(src="img/items/slide004.png", alt="bikini")
            .my-slider-item
                img(src="img/items/slide005.png", alt="bikini")
            .my-slider-item
                img(src="img/items/slide006.png", alt="bikini")